[Desktop Entry]
Name=Chords and Tabs
Exec=webapp-container --webappUrlPatterns=https://*.chords-and-tabs.net/*,https://*.firebaseapp.com/*,https://*.google.com/* --fullscreen --store-session-cookies https://www.chords-and-tabs.net
Icon=assets/logo.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
